@model IEnumerable<A2.Models.Game>
@{
    ViewBag.Title = "Home Page";
}

@section Styles {
    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/game-details.css" rel="stylesheet" />
}


<div class="game-row" style="display: flex; justify-content: space-around; padding: 20px 0;">
    @foreach (var game in Model)
    {
        <div class="game-column" style="flex: 1; text-align: center; padding: 10px;">
            <!-- Link around the image -->
            <a href="@Url.Action("Details", "Games", new { id = game.Id })">
                <img src="@Url.Content(game.PosterPath)" alt="@game.Title" style="width: 100%; max-width: 300px; height: auto;">
            </a>
            <!-- Link around the game title -->
            <h3>
                <a href="@Url.Action("Details", "Games", new { id = game.Id })">@game.Title</a>
            </h3>
        </div>
    }
</div>


